.Main{
    margin:0;
    padding:0;
    background-color:rgb(50, 50, 50);
    background-size: cover;
    object-fit:fill;
    width:100%;
    height:100vh;
    position:relative;
    color: white;
}

.hero-container{
    width:52.5%;
    left:25%;
    top:80%;
    position:absolute;
    display:flex;
    gap:1rem;
    align-content:center;
}
.main-input{
    width:180rem;
    height:3rem;
    font-size:30px;
    color:white;
    background-color:black;
    border:1px solid white;
    border-radius:20px;
}
.arrow .arrow-img{
    padding-top:6px;
    height:4rem;
    width:3rem;
}

button{
    background-color: transparent;
    border: none;
}

button :hover{
    cursor: pointer;
}