*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.Main-container{
    background-image: url("../assets/main-background.jpg");
    opacity: 0.9;
    background-size:cover;
    width:100%;
    height:100vh;
    position:relative;
    background-position: center;
    object-fit:cover;
    margin-left: auto;
    margin-right:auto;
    box-shadow: rgb(105, 103, 103) 5px 2px 5px 2px;
    vertical-align: middle;
}
.Main-container::before{
    content:"";
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    opacity:0.8;
}
.left-img{
    background-size: cover;
}
.left-img-main{
    position:absolute;
    height:60%;
    width:25%;
    margin-top: 10%;
}
.Login-page{

    padding-left:20px;
    padding-right:20px;
    justify-content: center;
    align-items: center;
    background-image: url("https://wonderfulengineering.com/wp-content/uploads/2016/02/Silver-Wallpaper-7.jpg");
    background-size: auto 100%;
    background-size: cover;
    object-fit: fill;
    position:absolute;
    height:60%;
    width:25%;
    margin-left:6.2%;
    margin-top: 10%;
}
.card-container{
    display:flex;
    gap:25%;
    margin-left:25%;
    vertical-align: middle;
}
.items{
    padding-top:0.5rem;
    padding-bottom: 0.5rem;

}

.items input::placeholder{
    font-size:1rem;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;

}


.welcome{
    font-size:2rem;
    font-family: 'pacifico';
}
.Login-page label{
    font-size:1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.submit{
    padding: 5px;
    font-size:1.2rem;
    border-radius: 8px;
    border:none;
    background-color: rgb(184, 179, 179);
    box-shadow: rgb(119, 117, 117) 5px 2px 5px 2px;
}
.Login-page input{
    border:none;
    background-color: rgba(223, 216, 216, 0.758);
    height:2rem;
    width:14rem;
    object-fit:fill;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}
.Login-page input:hover{
    background-color: rgb(16, 16, 16);
    color:white;
}
.submit:hover{
    background-color: black;
    color:white;
}